@import 'normolize'
@import 'elements'
@import 'fonts'
@import 'header'
// @import 'slick'

.hero
    display: none

.premium
    padding-right: 8px
    padding-left: 8px

    h2
        max-width: 50%

    p
        max-width: 40%
        font-feature-settings: 'ss01' on

    .container
        overflow: hidden
        background-color: white
        border-radius: 30px
        background-repeat: no-repeat
        background-position: right 30px center

    &__descr
        margin-top: 130px

    @media screen and ( min-width: 710px )
        .container
            padding: 48px
            background-image: url('../img/premium__bg.jpg')
            background-size: 60% auto

        &__img
            position: absolute
            height: 95%
            width: 50%
            bottom: 0
            right: -10%
            object-fit: contain
            object-position: bottom right

    @media screen and ( max-width: 1278px )
        h2
            max-width: 62%
            margin-bottom: 20px

        p
            font-size: 16px

        &__descr
            margin-top: 90px

    @media screen and ( max-width: 998px )
        .container
            padding: 30px
            background-size: 56% auto

        h2
            max-width: 52%

        p
            max-width: 45%

        &__descr
            margin-top: 40px

    @media screen and ( max-width: 710px )
        .container
            background-position: center bottom calc( 50vw - 44px )
            background-image: url('../img/premium__bg-mob.jpg')
            background-size: 100% auto
            padding: 31px 16px 0
        h2, p
            max-width: 100%

        &__descr
            margin-top: 35px

        &__img
            display: block
            transform: scale(1.07)
            margin-top: calc( 65vw - 44px )

.saving
    &-title
        margin-bottom: 34px
        h2, p
            width: 48%

    &__textline
        font-size: 16px

    &__descr
        font-size: 18px
        color: #8792A4

    &-items
        justify-content: flex-start
        gap: 22px 2%
        position: relative
        align-items: stretch
        padding-right: 200px

    &-item
        border-radius: 20px
        background: white
        display: flex
        flex-direction: column
        padding: 24px 30px
        // width: 32%
        width: 387px
        min-height: 250px
        position: relative
        z-index: 1
        overflow: hidden
        &:first-child
            padding: 40px 30px
            background-color: $prime
            color: white

            .saving__text
                font-size: 16px

            .saving__img
                height: 60%
                width: 60%
                bottom: 0
                right: 0
                object-position: right bottom

            .saving__save, mark
                color: white

            @media screen and ( min-width: 1248px )
                position: absolute
                top: 0
                right: 0
                height: 100%

    &__heading
        font-size: 18px
        font-weight: 700
        line-height: 130%
        margin: 0 0 10px
        display: block

    &__text
        font-size: 14px
        display: block
        font-weight: 400
        line-height: 130%
        text-transform: lowercase
        &::first-letter
            text-transform: uppercase

    &__img
        position: absolute
        bottom: 20px
        right: 20px
        width: 100px
        height: 100px
        object-fit: contain
        z-index: -1

    &__save
        font-size: 32px
        font-weight: 400
        line-height: 130%
        color: $prime
        margin-top: auto
        mark
            font-size: 69px

    @media screen and ( max-width: 1248px )
        &-items
            padding: 0
            justify-content: space-between
        &-item
            width: 49%
            &:first-child
                padding-right: 300px
                width: 100%
                min-height: 300px
                .saving__img
                    height: 95%

    @media screen and ( max-width: 998px )
        &-item
            &:first-child
                padding-right: 200px
                .saving__img
                    height: 80%

    @media screen and ( max-width: 700px )
        h2
            margin-bottom: 18px

        &-title
            margin-bottom: 14px
            h2, p
                width: 100%

        &__textline
            margin-bottom: 35px

        &__text
            margin-bottom: 64px

        &-items
            position: relative
            width: 100vw !important
            left: -24px
            padding: 24px
            flex-wrap: nowrap
            overflow-y: scroll
            gap: 8px

        &-item,
        &-item:first-child
            width: calc( 100vw - 44px )
            min-width: calc( 100vw - 44px )

        &-item
            padding: 30px 20px !important
            &:first-child
                padding-right: 200px
                .saving__img
                    height: 159px

.pa
    padding: 60px 10px 0
    h2
        margin-bottom: 30px

    .container
        padding: 32px 50px
        color: white
        border-radius: 30px
        background: linear-gradient(103deg, #33373A 26.05%, #1D2022 67.06%)

    h2, &__text
        max-width: 50%

    &__text
        font-size: 16px
        font-weight: 400
        line-height: 130%
        margin: 0 0 46px

    ul
        max-width: 54%
        li
            padding-left: 33px
            font-size: 16px
            font-weight: 600
            line-height: 130%
            width: 31%
            background-image: url('../img/list_dark.svg')
            &:first-child
                width: 164px

    &__img
        position: absolute
        height: 95%
        width: 48%
        object-fit: contain
        object-position: right bottom
        bottom: 0
        right: 0
        z-index: -1

    @media screen and ( max-width: 1200px )
        &__text, h2
            max-width: 53%

        &__img
            width: 47%

        ul
            display: block
            li
                width: 100% !important

    @media screen and ( max-width: 998px )
        h2
            margin-bottom: 20px

        .container
            padding: 32px 40px 80px

        &__text, h2
            max-width: 100%

        &__text
            margin-bottom: 80px

        &__img
            height: 58%

    @media screen and ( max-width: 700px )
        padding: 35px 6px
        .container
            padding: 32px 16px 68vw

        &__text
            margin-bottom: 40px

        ul
            max-width: 100%

        &__img
            width: 100%
            height: 65vw
            max-width: 100%

.manage
    .container
        align-items: stretch

    &__img
        border-radius: 30px
        object-fit: cover

    .col
        background-color: white
        border-radius: 30px
        overflow: hidden
        margin-bottom: 20px

    li
        font-weight: 400
        line-height: 130%
        letter-spacing: -0.24px

    h2
        margin-bottom: 42px

    &-header
        background-color: $prime
        color: white
        padding: 39px 36px 14px

    &-bottom
        padding: 30px 36px 14px

    @media screen and ( min-width: 998px )
        .container
            flex-direction: row-reverse
        .col,
        &__img
            max-width: 49%
            margin: 0

    @media screen and ( max-width: 998px )
        h2
            margin-bottom: 20px

    @media screen and ( max-width: 700px )
        &__img
            aspect-ratio: 4/4.5
        &-header
            padding: 32px 16px 1px

        &-bottom
            padding: 10px 16px 16px

.control
    padding: 60px 0 120px
    .container
        gap: 40px 0
        justify-content: space-between

    h2
        align-self: flex-start

    p
        justify-content: flex-start
        font-size: 16px
        font-weight: 400
        line-height: normal
        display: inline-flex
        max-width: 23%
        gap: 14px
        img
            display: block
            width: 44px
            min-width: 44px

    @media screen and ( max-width: 1150px )
        h2
            width: 100%
            margin-bottom: 0

        p
            width: 30%
            max-width: 30%

    @media screen and ( max-width: 998px )
        p
            width: 49%
            max-width: 49%

    @media screen and ( max-width: 700px )
        padding: 35px 0 70px
        h2
            margin-bottom: 4px
        .container
            gap: 16px
        p
            width: 100%
            max-width: 100%

.possibility
    background-color: #292D2F
    color: white
    padding: 0
    .container
        position: relative
        z-index: 1
        padding: 87px 24px 0

    h2
        margin-bottom: 32px

    &__subtext
        font-size: 24px
        font-weight: 600
        line-height: 124%
        margin: 0 0 24px
        max-width: 90%

    &__text
        margin-bottom: 40px
        max-width: 90%

    &-items
        width: 49%
        gap: 20px 4%
        align-items: stretch

    &-item
        width: 48%
        border-radius: 30px
        overflow: hidden
        span
            background-color: white
            padding: 25px 70px 23px 32px
            display: block
            color: $black
            position: relative
            z-index: 1
            min-height: 95px
            background-repeat: no-repeat
            background-position: top 22px right 24px
            background-size: 30px auto
            background-image: url("../img/list.svg")

        img
            display: block
            width: 100%
            object-fit: cover
            height: 190px

    &-title
        @media screen and ( min-width: 998px )
            width: 48%
            flex-direction: column
            align-items: flex-start

    &__bg
        display: block
        margin-top: auto
        max-width: 90%
        object-fit: contain
        object-position: center bottom

    @media screen and ( max-width: 998px )
        background: linear-gradient(103deg, #33373A 26.05%, #1D2022 67.06%)
        .container
            padding-bottom: 100px

        .col
            width: 100%

        &__subtext
            font-size: 18px
            margin-bottom: 16px
            max-width: 100%

        &__text
            font-size: 16px
            max-width: 100%

        &-items
            gap: 20px 1.5%
            width: 100%

        &-row, h2
            max-width: 51%

        h2
            max-width: 40%

        &-title
            align-items: flex-start

        &__bg
            height: 37%
            position: absolute
            bottom: 0
            right: 0
            z-index: -1

        &-item
            font-size: 16px
            width: 32%
            span
                min-height: unset
                padding: 23px 70px 23px 24px

            img
                height: 172px

    @media screen and ( max-width: 708px )
        .container
            padding: 32px 24px 68vw
            display: block

        &-title
            display: block

        h2, &-row 
            width: 100%
            max-width: 100%

        h2
            margin-bottom: 20px

        &__text
            margin-bottom: 20px

        &-items
            position: relative
            width: 100vw !important
            left: -24px
            padding: 24px
            flex-wrap: nowrap
            overflow-y: scroll
            gap: 21px

        &-item
            min-width: 285px
            width: 285px
            span
                background-position: top 18px right 18px

        &__bg
            width: 100%
            height: 65vw
            max-width: 100%

.app
    background-color: white
    padding: 88px 0

    &-box
        width: 50%
        padding: 28px 48px 52px
        color: white
        border-radius: 30px
        min-height: 420px
        background-color: #292D2F
        position: relative
        z-index: 1
        flex-direction: column
        align-items: flex-start
        &__text
            margin-top: auto
            text-transform: uppercase

    &__text
        font-size: 24px
        font-weight: 400
        line-height: 130%
        margin: 0 0 40px

    .col
        width: 46%

    &__bg
        position: absolute
        bottom: 0
        right: 0
        object-fit: contain
        object-position: bottom right
        width: 50%
        height: 84%
        display: block
        z-index: -1

    &-items
        gap: 60px 0

    &-item
        width: 49%
        justify-content: flex-start
        gap: 15px
        font-size: 16px
        font-weight: 500
        line-height: 130%
        img
            display: block
            width: 76px
            height: 77px
            object-fit: contain
            object-position: center center

    @media screen and ( max-width: 1050px )
        .container
            align-items: stretch

        h2
            margin-bottom: 16px

        &-box
            width: 40%
            padding: 28px 29px
            overflow: hidden
            &__text
                margin: 0 0 auto
                font-size: 16px
                max-width: 100%

        &__bg
            bottom: 0
            right: 0
            width: 100%
            height: 60%

        .col
            width: 55%

        &__text
            font-size: 20px
            margin-bottom: 30px

        &-items
            gap: 40px 0

        &-item
            display: block
            img
                margin-bottom: 16px

    @media screen and ( max-width: 700px )
        background-color: transparent
        padding: 35px 0
        .container
            display: block
            padding: 0 8px

        &-box
            width: 100%
            min-height: 392px
            padding: 32px 16px
            margin-bottom: 46px
            &__text
                text-transform: none
                margin: auto 0 0

        &__text
            margin-bottom: 30px

        &__bg
            width: 92%
            height: 85%
            bottom: 0
            right: -50px

        .col
            width: 100%
            padding: 0 16px

        &-item
            position: relative
            z-index: 1
            width: 48%
            &::before
                content: ''
                display: block
                width: 80px
                height: 80px
                position: absolute
                top: 0
                left: 0
                z-index: -11
                border-radius: 30px
                background-color: #FFF
                box-shadow: 0px 24px 49px -8px rgba(47, 95, 167, 0.06)

            img
                margin: 10px 0 16px 15px

.online
    padding: 30px 10px 0
    .container
        position: relative
        top: 30px
        border-radius: 30px
        background: #FFF
        padding: 30px 49px
        background-image: url('../img/online__bg.jpg')
        background-repeat: no-repeat
        background-position: right -80px bottom 50px
        background-size: 350px auto

    &__text
        width: 481px
        font-size: 18px
        line-height: 130%
        margin: 5px auto 70px

    h2, .col
        width: 45%

    &-item
        font-size: 16px
        font-weight: 400
        line-height: 130%
        margin: 0 0 44px
        width: 46%
        img
            width: 44px
            height: 44px
            object-fit: contain
            margin: 0 0 18px
            display: block

    &-card
        width: 456px
        margin: 0 auto
        padding: 42px 44px
        color: white
        border-radius: 30px
        background: #DA2B36
        p
            margin-bottom: 64px

    @media screen and ( max-width: 998px )
        .container
            padding: 30px 20px 30px 30px
            background-size: 290px auto
            background-position: right -80px bottom -50px

        .btn
            font-size: 14px
            padding: 18px 95px 18px 29px

        .col
            width: 50%

        &-item
            font-size: 14px

        h2
            margin-bottom: 10px

        &__text
            margin: 0 0 40px

        &-card
            padding: 20px 35px 40px
            width: 330px
            margin: 0 0 0 auto
            align-self: flex-end
            p
                font-size: 16px
                margin-bottom: 50px

    @media screen and ( max-width: 700px )
        padding: 35px 8px
        margin-top: 35px
        .container
            top: 0
            padding: 32px 16px

        &__text
            font-size: 14px
            margin-bottom: 32px

        h2, .col
            width: 100%

        &-card
            width: 100%

        &-item
            order: 3
            margin: 0 auto
            width: 43%
            margin-bottom: 31px

            &:nth-child(2)
                order: 2
            &:last-of-type
                order: 1

        &-card
            padding: 32px
            p
                margin-bottom: 38px

.ask
    background-color: #292D2F
    color: white
    padding: 0
    overflow: hidden
    .container
        padding-top: 105px
        padding-bottom: 80px
        position: relative
        z-index: 1
        align-items: flex-start

    h2
        margin-bottom: 18px

    &__manager
        display: inline-block
        font-size: 16px
        line-height: 130%
        background-color: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.34)
        backdrop-filter: blur(4px)
        border-radius: 70px
        align-self: center
        margin: auto 0 70px 0
        padding: 20px 31px
        position: absolute
        bottom: 12%
        left: 14%
        b
            font-size: 18px
            display: block

        i
            font-style: normal

        &:after
            content: url(../img/ask_info.svg)
            position: absolute
            top: -20px
            right: 0

    .col
        width: 310px

    picture
        display: inline

    &__bg
        position: absolute
        bottom: 0
        max-height: 90%
        object-fit: contain
        max-width: 45%
        left: 42%
        transform: translateX(-50%)
        z-index: -1
        display: block

    &-form
        margin: 0 0 0 auto
        border-radius: 30px
        background: #FFF
        padding: 41px 34px
        width: 448px
        color: $black
        &__heading
            font-size: 18px
            font-weight: 400
            line-height: 130%
            margin: 0 0 41px

        small
            margin-bottom: 19px
            display: block
            color: #8792A4
            font-weight: 400
            line-height: 130%

    .btn
        width: 100%
        margin: 20px auto 25px

    @media screen and ( max-width: 1100px )
        &__bg
            left: 38%

    @media screen and ( max-width: 998px )
        .col
            width: 50%

        h2, p
            max-width: 170px

        &-form
            width: 370px

        &__bg
            left: 29%
            max-width: 60%

        &__manager
            bottom: 25%
            left: 24px
            i
                display: none

    @media screen and ( max-width: 700px )
        .container
            display: block
            padding: 32px 8px

        h2, p
            max-width: 100%
        .col
            width: 100%
            padding: 0 16px
            margin-bottom: 410px

        &__bg
            max-width: 380px
            bottom: 43%
            left: 43%
            transform: scaleX(-1) translateX(50%)

        &-form
            max-width: 100%
            margin: 0 auto

        &__manager
            bottom: auto
            top: 27%
            left: auto
            right: 24px
            font-size: 14px
            padding: 17px 30px
            b
                font: 16px

            &:after
                top: 46px
                left: -25px

// @import 'modal'
@import 'footer'
